{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About Us<br></h2>
        <p>
          MỘT DÒNG CHẢY NĂNG LƯỢNG MỚI BÊN TRONG MÌNH VÀ MỘT CÁI TÊN MỚI RA ĐỜI🍃<br>
          ✌️Chào bạn! Mình là HẠ UYỂN✌️<br>
          ❤Trên hành trình tìm về với chính mình, kết nối sâu với linh hồn bên trong chính mình, mình đã trải qua nhiều biến chuyển sâu sắc trong tâm thức.<br>
          ❤Tiếng gọi từ bên trong thôi thúc mình tìm kiếm một cái tên mới, một tên gọi mang ý nghĩa cho hành trình tiếp theo.<br>
          </p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p>
              
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> <span>Biết ơn vũ trụ vì đã dẫn dắt mình đến với cái tên đầy ý nghĩa này. Với cái tên mới, mình tự nhủ với bản thân sẽ huân tập, rèn luyện bản thân mỗi ngày để có một cuộc sống ý nghĩa hơn. Mỗi ngày, mình luôn hướng đến sự ôn nhu, khiêm hạ, sửa mình, gieo rắc những lời nói từ ái và chia sẻ kiến thức, lan toả giá trị, gieo những hạt giống thiện lành để giúp đỡ bất kỳ ai tiếp chạm đến mình ❤️</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Mỗi ngày, mình luôn hướng đến sự ôn nhu, khiêm hạ, sửa mình, gieo rắc những lời nói từ ái và chia sẻ kiến thức, lan toả giá trị, gieo những hạt giống thiện lành để giúp đỡ bất kỳ ai tiếp chạm đến mình ❤️</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Trên hành trình này, mình sẽ trở thành phiên bản tốt nhất của chính mình, mang đến sự bình yên và chữa lành cho những tâm hồn đang lạc lối, bất kì ai đến với mình cũng sẽ cảm thấy tốt hơn, hạnh phúc hơn, năng lượng tích cực, tươi vui hơn mỗi ngày 🙏🏻🙏🏻🙏🏻</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Mình sẽ rất vui khi bạn đón nhận và gọi mình với tên “ HẠ UYỂN” 🙏🏻</span></li>
            </ul>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <p>✌Và "HẠ UYỂN" chính là món quà quý giá mà vũ trụ đã gửi tặng đến mình như một lời nhắn nhủ: <br>
              * Hạ: Giống như lúa chín trĩu hạt, mang trong mình sự khiêm nhường, cúi mình trước trời đất, thể hiện tinh thần thong dong, ung dung tự tại, hướng đến sự bình an trong tâm hồn.<br>
              * Uyển: Tựa như dòng nước mềm mại, uyển chuyển, mang đến sự nhẹ nhàng, khéo léo và ôn nhu, thể hiện sự thích nghi, thuận theo quy luật tự nhiên, không cưỡng cầu hay cố chấp.<br>
              </p>
            <!-- <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> -->
          </div>

        </div>

      </div>

    </section><!-- /About Section -->
    <!-- About Alt Section -->
    <section id="about-alt" class="about-alt section">

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
          </div>
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</span></li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Alt Section -->
{% endblock %}